# 虚拟环境
.venv/
venv/
env/

# Python 缓存
__pycache__/
*.pyc
*.pyo

# 模型、图片、缓存文件夹
models/
temp_upload/
result_img/
data/
runs/
test/

# 图像文件
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.webp
*.gif

# 权重文件
*.onnx
*.pth
*.pt
*.ckpt

# 日志临时文件
*.log
*.tmp
backend.log
nohup.out

# IDE 相关
.trae/
.trae-cn-server/
